
# dependencies
/node_modules

# testing
coverage/
/coverage/


# production
/build
/dist
/config/build/

# misc
.DS_Store

npm-debug.log*
/.idea/
.eslintcache

# env files
.env


#only for dev 
yarn-error.log